a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid rgba($link-color, 0.3);
  transition: color 0.2s ease, border-color 0.2s ease;
}

a:hover,
a:focus,
a:active {
  color: $link-hover-color;
  border-bottom-color: $link-hover-color;
}

// Buttons
button,
.button {
  border-bottom: none;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  border-bottom: none;
}

.anchorjs-link {
  border-bottom: none;
}
.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active {
  border: 0;
  color: $link-hover-color;
  border-bottom: none;
}
